*{
  border:0;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body{
  height:100%;
  overflow: hidden;
}
/*
.cm-editor .cm-content, .cm-gutters, .cm-gutter, .cm-selectionBackground, .cm-selectionLayer, .cm-cursorLayer, .cm-cursor, .cm-line, .cm-activeLine{
  background:#222;
}
.cm-editor.cm-focused { outline: 2px solid cyan } */


#editor{
  /* border:3px solid blue; */
  /* font-size:0.9em; */
  /* background-color:#f5f3f2; */
  /* border-radius:10px;
  padding-top:5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
 */
}
#p5{
  /* border:3px solid cyan; */
    border:1px dashed #cccccc;
}

#editor, #p5{
  position:absolute;
}

.cm-editor{
  height:100%;
}

/* */
